.circle{
	background-color: rgb(213, 213, 213);
	border-radius: 58%;
	width: 100px;
	height: 100px;
	margin: 10px auto;
}
.circulo{
	background-color: rgb(213, 213, 213);
	border-radius: 58%;
	width: 50px;
	height: 50px;
}
.carousel {
height: 560px;
background-color: rgb(221, 214, 214);
}
.carousel-control.left{
	background-color: rgba(252, 250, 250, 0.5);

}
.carousel-control.right{
	background-color: rgba(252, 250, 250, 0.5);

}
.navbar-header{
width: 100%;
}
 .navbar-nav{
 	float: none;
 	text-align: center;
 	li {
 		float: none;
 		display: inline-block;
 	}
 }
.navbar-nav.ul-2{
 	float: none;
 	text-align: center;
 	li {
 		float: none;
 		display: block;
 	}
 }
 .container-fluid{
 	padding: 0px;
 }
span >img{
	width: 81px;
	position: relative;
	top: 250px;
 }
.caja3>img{
width: 100%;

}
.caja4{
  width: 250px;
  height: 100px;
}
.titulo3{

}
.contenido{
  padding:41px 65px;
  background-color: #ecf0f1
}
h4{
font-size: 25px;
}
.reemplazo>img{
	width: 100%;
	height: 100%;
}
.redes img{
	width: 20%;
}
.row {
 margin-left: 0px; 
 margin-right: 0px; 
}
footer{
	background-color: black;
}
h1{
	color: white;
}
.texto2>p{
	color: white
}